header {
    background: var(--theme-primary-color-1);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

header img {
    height: 32px;
}

header .fa, header .far {
    color: var(--theme-secondary-color-1);
    font-size: 24px;
    cursor: pointer;
}